.about-container {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 1100px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.img-container {
  width: 125px;
  height: 125px;
  border-radius: 100%;
  border: 5px solid $alt-background;
  background: $alt-background;
  margin: 0 auto;
  overflow: hidden;
}

.profile-img {
  margin: 3px;
  path {
    fill: $alt-text-color;
  }
}
 
.about-content {
  width: 80%;
  max-width: 600px;
}

.profile-description {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.4rem;

  p {
    margin-top: 10px;
  }

  @media (min-width: 1100px) {
    text-align: left;
  }
}

.tech-stack-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tech-icon {
  margin: 10px;
  width: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    margin: 5px;
    font-size: 50px;
  }

  .icon-name {
    font-size: .8rem;
  }

  .express {
    background: rgb(165, 165, 165);
  }
}