.contact-container {
  padding-bottom: 150px;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.form-prompt {
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    background: $alt-background;
    color: $main-text-color;
    font-size: 1.3rem;
    border: none;
    padding: 10px;
    margin: 5px 0;
  }
  //autocomplete change background
  input:-webkit-autofill {
    transition: background-color 1s 5000s, color 1s 5000s;
  }

  textarea {
    resize: none;
    height: 50px;
    color: $main-text-color;
    font-size: 1.3rem;
    padding: 10px;
    margin: 5px 0;
    font-family: inherit;
    background: $alt-background;
    border: none;
  }

  .button-container {
    padding: 20px 0;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .success {
    color: rgb(8, 172, 8);
  }

  .error {
    color: rgb(228, 47, 47);
  }

  .form-button {
    padding: 10px;
    background: inherit;
    border: none;
    color: $main-text-color;
    font-size: 1.5rem;
    background: $alt-text-color;
    transition: border-radius .2s ease-out;

    &:hover {
      cursor: pointer;
      border-radius: 10px;
    }

    &:disabled {
      color: $alt-background-translucent;
    }
  }
}