.navbar {
  position: sticky;
  top: 0;
  z-index: 6;
  background: $alt-background;
  padding: 15px;
  display: flex;
  justify-content: center;

  @media (min-width: 1100px) {
    justify-content: end;
  }
}

.links {
  width: 230px;
  max-width: 90%;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;

  button {
    background: inherit;
    border: none;
  }

  a {
    text-decoration: none;
    color: $main-text-color;
    font-size: 1.2rem;
  }

  a:hover {
    color: $alt-text-color;
  }

  @media (min-width: 500px) {
    width: 320px;   
  }
}