.project {
  margin: 0 auto 80px;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.right-align {
  flex-direction: row-reverse;
}

.project-img-container {
  position: relative;
  margin: 20px auto;
}

.project-preview {
  width: 100%;
  max-width: 450px;
  height: auto;
  padding: 0;
  margin: 0;
}

.project-gif {
  position: absolute;
  visibility: visible;
  opacity: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  transition: visibility 0.3s, opacity .3s linear;
}

.project-img {
  position: relative;
  opacity: 90%;
  left: 0;
  z-index: 0
}

.project-details {
  position: absolute;
  top: 5px;
  background: $base-background-translucent;
  padding: 20px;
  width: 40%;
  max-width: 300px;
  z-index: 3;
}

.project-title {
  font-size: 1.5rem;
}

.project-description {
  font-size: 1.2rem;
  margin-top: 12px;
}

.details-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-button {
  background: inherit;
  border: none;
  margin: 6px;
  padding: 5px;
  color: $main-text-color;
  border-left: 3px solid $alt-text-color;
  font-size: 1.3rem;

  &:hover {
    background: $alt-text-color;
    cursor: pointer;
  }
}